.contact{
    background-color: rgba(244,11,81,.03);
}
.contactContainer{
display: flex;
align-items: center;
flex-direction: column;
width: 90%;
margin: auto;
}
.contactContainer h1{
    font-family: Nunito,sans-serif;
    font-size: 1.563rem;
    font-weight: 600;
    line-height: 34px;
    padding-top: 1rem;
}
.contact h1 span{
    color: #aa1313;

    background-image: linear-gradient(#aa1313 0 0);
    background-position: bottom left; /*Adjust the background-position to move the line*/
    background-size: 100% 2px; /*Adjust the background size to control length and height*/
    background-repeat: no-repeat;
    padding-bottom: 4px;
}
.contactImages{
    position: relative;
    width: 100%;
display: flex;
justify-content: center;
}
.contanctImgMain{
    width: 90%;
    max-width: 500px;
    max-height: 500px;
}
.contanctImg1{
    width: 130px;
    height: 130px;
 position: absolute;
 left: 100px;
 top: 10%;
}
.contanctImg2{
width: 240px;
height: 260px;
position: absolute;
right: 100px;
top:50%;
/* transform: translateY(-50%); */
}
/* ----------------------Location card---------------------- */
.locationCards{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}
.socialCard{
    margin: 30px;
    display: flex;
    flex-direction: column;
    max-width:174px;
    max-height:245px;
    border-radius: 10px;
  box-shadow: 0px 0px 10px 8px #d8d8d8;
    padding: 16px;
    background: white;
}
.socialCardTop{
    display: flex;
    margin: 0 auto;
}
.socialCardTopText{
    font-family: Poppins,sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 22px;
    margin-left: 1rem;
    width: fit-content;
}
.socialCardBottom{
    width: fit-content;

    color: rgba(170,19,19,.85);
    font-family: Poppins,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    margin-top: 1rem;
}
.socialCardTopImg,
.socialCardTopImg2{
    height: 25px;
    width: 20px;
}
.locationCardImg{
    top: 100px;
    height: 100px;
    position: absolute;
    right: 150px;
    width: 100px;
    z-index: -10;
}
/* ------------------mail--------------------------- */
.mail{
    display: flex; 
    width: 100%; 
}
.mailFirst{
    width: 50%;
display: flex;
align-items: center;
}
.mailFirstImg{
    width: 100%;
    display: flex;
    align-items: center;
}
.mailFirstImg{
    width:100%;
    max-width: 500px;
    max-height: 500px;
}
.mailSecond{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contactForm{
    width: 90%;
    text-align: center;
}
.contactSocialMedia{
    display: flex;
    flex-direction: column;
  align-items:  center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contactField{
    width: 70%;
    height: 60px;
    padding: 0 5px;
background: #fff;
    border: 0;
    border: 1px solid rgba(170,19,19,.2);
    border-radius: 10px;
    font-family: Poppins,sans-serif;
    font-size: .938rem;
    font-style: italic;
    font-weight: 400;
    height: 60px;
    margin-top: 2rem;
}
.message{
    min-height: 100px;
}
.submitBtn{
    margin-top: 30px;
    background: linear-gradient(180deg,rgba(244,11,81,.9),rgba(170,19,19,.9));
    border-color: transparent;
    border-radius: 20px 0 20px 20px;
    box-shadow: 0 4px 20px rgba(170,19,19,.25);
    box-sizing: border-box;
    color: #fff;
    font-family: Nunito,sans-serif;
    font-size: .938rem;
    font-weight: 500;
    height: 2.938rem;
    width: 8.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitBtn:hover{
    cursor: pointer;
}

.contactSocialMediaImg{
    width: 30px;
    height: 30px;
    margin: 16px 8px;
   
}
@media (max-width:577px) {
    .contanctImg1,
    .contanctImg2,
    .locationCardImg{
        display: none;
    }
    /* mail */
    .mail{
        flex-direction: column;
    }
    .mailSecond,
    .mailFirst{
        width: 100%;
    }
    .contactSocialMediaImg{
        margin: 16px 5px;
    }
    .socialCard{
        max-width: 68px;
        max-height: 111px;
        
  margin: 10px;
    }
    .socialCardTop{
       align-items: center; 
    }
    .socialCardTopText{
        font-size: 0.6rem;
        margin: 1px;
    }
    .socialCardBottom{
        font-size: .4rem;
        line-height: 12px;
    }
    .socialCardTopImg{
        width: 25px;
        height: 20px;
    }
    .socialCardTopImg,
    .socialCardTopImg2{
        height: 12px;
        width: 10px;
    }
}